@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$font: "Noto Sans KR", sans-serif;
$logoColor: #36579e;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
body.fixed {
  height: 100%;
  overflow-y: hidden;
}

// NAV
.App {
  position: relative;
  top: 0;
  left: 0;
  .nav.fixed {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: 1s;
  }
  .nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 1s;

    .nav-inner {
      width: 100%;
      max-width: 1270px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      .logo-box {
        width: 300px;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .gnb {
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 0;
          li.active {
            span {
              text-decoration: underline;
            }
          }
          li {
            cursor: pointer;
            span {
              font-size: 17px;
              font-weight: 500;
              display: block;
              width: 100%;
              height: 100%;
              padding: 20px 20px;
              color: white;
            }
            .dropdown {
              width: 100%;
              height: 100%;
              button {
                width: 100%;
                height: 100%;
                padding: 20px 20px;
                --bs-btn-bg: none;
                --bs-btn-color: white;
                --bs-btn-border-color: none;
                --bs-btn-hover-bg: none;
                --bs-btn-hover-border-color: none;
                --bs-btn-focus-shadow-rgb: none;
                border-radius: 0;
                font-size: 17px;
                font-weight: 500;
                &:hover {
                  color: white;
                  background-color: transparent;
                }
              }
              .btn.show {
                color: white;
                background-color: $logoColor;
                border-color: none;
              }
              .dropdown-menu {
                border-radius: 0;
                a {
                  font-size: 16px;
                  &:hover {
                    background-color: $logoColor;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// Home
.home {
  width: 100%;
  .home-banner {
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: relative;
    @include flexCenter();
    .swiper {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-slide {
        position: relative;
        &:nth-of-type(2) {
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .swiper-bg {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 0;
          left: 0;
        }
        .home-banner-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          max-width: 1270px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          pointer-events: none;
          z-index: 9;
          transition: 1s;
          opacity: 0;
          strong {
            font-size: 47px;
            color: white;
          }
          span {
            font-size: 20px;
            font-weight: 600;
            color: white;
          }
        }
      }
      .swiper-slide-active {
        transition: 0.5s;
        .home-banner-text {
          transition: 1s;
          opacity: 1;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        color: white;
        transform: scale(0.7);
      }
    }
  }
  .inner {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    .home-about {
      width: 100%;
      margin-top: 50px;
      border-top: 5px solid black;
      padding-top: 30px;
      h3 {
        width: 100%;
        font-size: 32px;
        position: relative;
        display: flex;
        align-items: center;
        color: #001c51;
        pointer-events: none;
      }
      .home-about-content-box {
        width: 100%;
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        .home-about-content {
          width: 400px;
          p {
            font-size: 20px;
            line-height: 33px;
            pointer-events: none;
          }
        }
      }
    }
    .home-link {
      width: 100%;
      margin-top: 60px;
      height: 520px;
      display: grid;
      grid-template-columns: repeat(2, 620px);
      grid-template-rows: repeat(2, 240px);
      grid-gap: 20px;
      justify-content: space-between;
      align-content: space-between;
      .home-introduction {
        grid-row: 1/3;
      }
      div {
        position: relative;
        cursor: pointer;
        .bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }
        span {
          display: block;
          position: absolute;
          font-size: 23px;
          font-weight: 500;
          top: 20px;
          left: 20px;
          color: white;
          transition: 0.3s;
        }
      }
      .home-introduction {
        background: url(../public/assets/image/home-introduction.jpg) center
          center no-repeat;
        background-size: cover;
      }
      .home-quotes {
        background: url(../public/assets/image/home-quotes.jpg) center center
          no-repeat;
        background-size: cover;
      }
      .home-directions {
        background: url(../public/assets/image/home-directions.jpg) center
          center no-repeat;
        background-size: cover;
      }
    }
    .home-partners {
      width: 100%;
      margin-top: 90px;
      p {
        font-size: 32px;
        font-weight: 600;
      }
      ul {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        li {
          width: 22%;
          aspect-ratio: 2/1;
          background-color: beige;
          margin-bottom: 30px;
        }
      }
    }
  }
}

// ABOUT
.about {
  width: 100%;
  .about-banner {
    width: 100%;
    height: 420px;
    background: url("../public/assets/image/home-introduction.jpg") center
      center no-repeat;
    background-size: cover;
    position: relative;
    .about-banner-inner-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }
    .about-banner-inner {
      width: 100%;
      height: 100%;
      max-width: 1270px;
      margin: 0 auto;
      position: relative;
      strong {
        font-size: 47px;
        position: absolute;
        bottom: 130px;
        pointer-events: none;
        color: white;
      }
    }
  }
  .about-inner {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    .about-inner-title {
      width: 100%;
      margin-top: 50px;
      border-top: 5px solid black;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      p {
        font-size: 20px;
        font-weight: 400;
        pointer-events: none;
        color: black;
        line-height: 37px;
      }
    }
    .about-introduction-box {
      width: 100%;
      height: 900px;
      margin-top: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .introduction {
        width: 48%;
        height: 100%;
        .introduction-image {
          width: 100%;
          height: 400px;
          background-color: beige;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .introduction-content-wrapper {
          width: 100%;
          height: 50%;
          strong {
            display: block;
            font-size: 32px;
            color: $logoColor;
            pointer-events: none;
            padding: 15px 0px;
          }
          .introduction-content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            pointer-events: none;

            p {
              margin: 0;
              padding: 0;
              font-size: 16px;
              color: black;
              font-weight: 400;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
  .about-customer {
    width: 100%;
    margin-top: 50px;
    .about-customer-box.first {
      background-color: #d4f1fe;
    }
    .about-customer-box.second {
      background-color: #001c51;
      .customer-inner {
        flex-direction: row-reverse;
        .customer-content {
          strong {
            color: white;
          }
          .about-content {
            p {
              color: white;
            }
          }
        }
      }
    }

    .about-customer-box {
      width: 100%;
      padding: 50px 0;
      .customer-inner {
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .customer-content {
          width: 45%;
          strong {
            display: block;
            font-size: 32px;
            color: #001c51;
            pointer-events: none;
            padding: 15px 0px;
          }
          .about-content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            pointer-events: none;

            p {
              margin: 0;
              padding: 0;
              font-size: 16px;
              color: black;
              font-weight: 400;
              padding-right: 20px;
            }
          }
        }
        .customer-image {
          width: 45%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .about-contact {
    width: 100%;
    height: 350px;
    background-color: beige;
    margin-top: 90px;
    .about-contact-inner {
      width: 100%;
      height: 100%;
      max-width: 1270px;
      margin: 0 auto;
      .contact-content {
        strong {
          display: block;
          font-size: 42px;
          color: black;
          padding: 70px 0 10px 0;
          pointer-events: none;
        }
        p {
          font-size: 20px;
          color: black;
          pointer-events: none;
        }
        button {
          font-size: 20px;
          background-color: white;
          font-weight: 600;
          border: none;
          outline: none;
          font-family: $font;
          padding: 6px 20px;
          cursor: pointer;
        }
      }
    }
  }
}

// Service
.service {
  width: 100%;
  .service-banner {
    width: 100%;
    height: 420px;
    background: url("../public/assets/image/about-banner.jpg") center center
      no-repeat;
    background-size: cover;
    position: relative;
    .service-banner-inner-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }
    .service-banner-inner {
      width: 100%;
      height: 100%;
      max-width: 1270px;
      margin: 0 auto;
      position: relative;
      strong {
        font-size: 47px;
        position: absolute;
        bottom: 130px;
        pointer-events: none;
        color: white;
      }
    }
  }
  .service-inner {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 50px 0;
    h3 {
      width: 100%;
      font-size: 32px;
      position: relative;
      display: flex;
      align-items: center;
      color: #001c51;
    }
    p {
      font-size: 20px;
      line-height: 33px;
      color: black;
      padding: 20px 0;
    }
  }
  .service-customer {
    width: 100%;
    margin-top: 50px;

    .service-customer-box.second,
    .service-customer-box.four {
      .customer-inner {
        flex-direction: row-reverse;
      }
    }

    .service-customer-box {
      width: 100%;
      padding: 50px 0;
      .customer-inner {
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .customer-content {
          width: 45%;
          strong {
            display: block;
            font-size: 32px;
            color: #001c51;
            pointer-events: none;
            padding: 15px 0px;
          }
          .service-content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            pointer-events: none;

            p {
              margin: 0;
              padding: 0;
              font-size: 16px;
              color: black;
              font-weight: 400;
              padding-right: 20px;
            }
          }
        }
        .customer-image {
          width: 45%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// Inqury
.inqury {
  width: 100%;
  .inqury-banner {
    width: 100%;
    height: 420px;
    background: url("../public/assets/image/about-banner.jpg") center center
      no-repeat;
    background-size: cover;
    position: relative;
    .inqury-banner-inner-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }
    .inqury-banner-inner {
      width: 100%;
      height: 100%;
      max-width: 1270px;
      margin: 0 auto;
      position: relative;
      strong {
        font-size: 47px;
        position: absolute;
        bottom: 130px;
        pointer-events: none;
        color: white;
      }
    }
  }
  .inqury-inner {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 50px 0;
    strong {
      font-size: 32px;
      pointer-events: none;
      color: #001c51;
    }
    form {
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      label {
        font-size: 18px;
        font-weight: 500;
        color: #999;
        span {
          color: red;
        }
      }
      input {
        width: 100%;
        border: none;
        outline: none;
        font-family: $font;
        font-weight: 600;
        font-size: 14px;
        border-bottom: 1px solid black;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox  */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .name,
      .phone,
      .email,
      .hs-code {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
        input {
          padding: 10px 2px;
        }
      }
      .delivery,
      .container,
      .subject {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        .delivery-box,
        .container-box {
          width: 100%;
          display: flex;
          gap: 30px;
          div {
            display: flex;
            align-items: center;
            gap: 2px;
            cursor: pointer;
            input {
              width: 15px;
              height: 15px;
            }
            span {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
      .message {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        textarea {
          width: 100%;
          height: 180px;
          border: 1px solid black;
          outline: none;
          resize: none;
          font-family: $font;
          font-weight: 600;
          font-size: 14px;
          padding: 10px 2px;
        }
      }
      .agree {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
        input {
          width: 15px;
          height: 15px;
        }
        p {
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          margin: 0;
          padding: 0;
          &:hover + span {
            color: #36579e;
            text-decoration: underline;
          }
        }
        span {
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          margin: 0;
          padding: 0;
          &:hover {
            color: #36579e;
            text-decoration: underline;
          }
        }
        .policy {
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          background-color: white;
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 30px 15px;
          z-index: 100;
          overflow-y: scroll;
          p {
            font-size: 14px;
            padding: 0;
            margin: 0;
          }
          span {
            font-size: 14px;
          }
          .close {
            font-size: 20px;
            position: absolute;
            top: 20px;
            right: 50px;
            cursor: pointer;
          }
        }
      }
      button {
        margin: 50px auto 0;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        border: none;
        background-color: #999;
        color: white;
        padding: 15px 80px;
      }
    }
  }
}

// MAP
.map {
  width: 100%;
  .map-banner {
    width: 100%;
    height: 420px;
    background: url("../public/assets/image/about-banner.jpg") center center
      no-repeat;
    background-size: cover;
    position: relative;
    .map-banner-inner-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }
    .map-banner-inner {
      width: 100%;
      height: 100%;
      max-width: 1270px;
      margin: 0 auto;
      position: relative;
      strong {
        font-size: 47px;
        position: absolute;
        bottom: 100px;
        pointer-events: none;
        color: white;
        span {
          font-size: 20px;
        }
      }
    }
  }
  .map-wrapper {
    width: 100%;
    max-width: 1270px;

    height: 500px;
    margin: 90px auto 0;
    overflow: hidden;
    background-color: beige;
  }
  .map-content {
    width: 100%;
    max-width: 1270px;
    margin: 50px auto 0;
    @include flexCenter();
    justify-content: space-between;
    align-items: flex-start;
    div {
      display: flex;
      flex-direction: column;
      p {
        font-size: 23px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        pointer-events: none;
      }
      span {
        display: block;
        margin: 5px 0;
        font-size: 21px;
        color: black;
        pointer-events: none;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  background-color: #333;
  margin-top: 90px;
  .footer-inner {
    padding: 30px 0;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
    h1 {
      font-size: 18px;
      color: white;
    }
    .footer-section-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2px;
      span {
        font-size: 12px;
        color: white;
        font-weight: 300;
      }
      .copy {
        font-size: 10px;
      }
    }
  }
}
