@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$font: "Noto Sans KR", sans-serif;
$logoColor: #36579e;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

// NAV
.App {
  position: relative;
  .nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .nav-inner {
      width: 100%;
      max-width: 1270px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      .logo-box {
        width: 300px;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .gnb {
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 0;
          background-color: white;
          li {
            cursor: pointer;
            span {
              font-size: 17px;
              font-weight: 500;
              display: block;
              width: 100%;
              height: 100%;
              padding: 20px 20px;
              &:hover {
                background-color: $logoColor;
                color: white;
              }
            }
            .dropdown {
              width: 100%;
              height: 100%;
              button {
                width: 100%;
                height: 100%;
                padding: 20px 20px;
                --bs-btn-bg: none;
                --bs-btn-color: black;
                --bs-btn-border-color: none;
                --bs-btn-hover-bg: none;
                --bs-btn-hover-border-color: none;
                --bs-btn-focus-shadow-rgb: none;
                border-radius: 0;
                font-size: 17px;
                font-weight: 500;
                &:hover {
                  color: white;
                  background-color: $logoColor;
                }
              }
              .btn.show {
                color: white;
                background-color: $logoColor;
                border-color: none;
              }
              .dropdown-menu {
                border-radius: 0;
                a {
                  font-size: 16px;
                  &:hover {
                    background-color: $logoColor;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// Home
.home {
  width: 100%;
  .home-banner {
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: relative;
    @include flexCenter();
    .swiper {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-slide {
        position: relative;
        .swiper-bg {
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.2);
          position: absolute;
          top: 0;
          left: 0;
        }
        .home-banner-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          max-width: 1270px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          pointer-events: none;
          z-index: 9;
          transition: 1s;
          opacity: 0;
          strong {
            font-size: 47px;
            color: black;
          }
          span {
            font-size: 20px;
            font-weight: 600;
            color: black;
          }
        }
      }
      .swiper-slide-active {
        transition: 0.5s;
        .home-banner-text {
          transition: 1s;
          opacity: 1;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        color: black;
        transform: scale(0.7);
      }
    }
  }
  .inner {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    .home-about {
      width: 100%;
      margin-top: 50px;
      border-top: 5px solid black;
      padding-top: 30px;
      h3 {
        width: 100%;
        font-size: 32px;
        position: relative;
        display: flex;
        align-items: center;
        color: #001c51;

        span {
          display: block;
          position: absolute;
          right: 0;
          font-size: 14px;
          font-weight: 400;
          color: #999;
        }
      }
      .home-about-content-box {
        width: 100%;
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
        .home-about-content {
          width: 400px;
          p {
            font-size: 20px;
            line-height: 33px;
            pointer-events: none;
          }
        }
      }
    }
    .home-link {
      width: 100%;
      margin-top: 60px;
      height: 520px;
      display: grid;
      grid-template-columns: repeat(2, 620px);
      grid-template-rows: repeat(2, 240px);
      grid-gap: 20px;
      justify-content: space-between;
      align-content: space-between;
      .home-introduction {
        grid-row: 1/3;
      }
      div {
        position: relative;
        background-color: beige;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          font-size: 23px;
          font-weight: 500;
          top: 20px;
          left: 20px;
        }
      }
    }
    .home-partners {
      width: 100%;
      margin-top: 90px;
      p {
        font-size: 32px;
        font-weight: 600;
      }
      ul {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        li {
          width: 22%;
          aspect-ratio: 2/1;
          background-color: beige;
          margin-bottom: 30px;
        }
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  background-color: #333;
  margin-top: 90px;
  .footer-inner {
    padding: 30px 0;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
    h1 {
      font-size: 18px;
      color: white;
    }
    .footer-section-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2px;
      span {
        font-size: 14px;
        color: white;
        font-weight: 300;
      }
      .copy {
        font-size: 12px;
      }
    }
  }
}
